// main: ../style.less

.popup-btn {
	text-align: center;

	background-color: transparent;
	border: none;

	cursor: pointer;
}

.popup-btn span {
	padding-top: 12px;
	display: block;

	color: @white;
}